@model MyMSEBlog.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserViewModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EMail): @Html.DisplayFor(model => model.EMail)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DisplayName): @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirtDate): @Html.DisplayFor(model => model.BirtDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted): @Html.DisplayFor(model => model.IsDeleted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NeedPasswordReset): @Html.DisplayFor(model => model.NeedPasswordReset)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
