@model MyMSEBlog.Models.BlogPostViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BlogPostViewModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedOn): @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Summary): @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tags): @Html.DisplayFor(model => model.Tags)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted): @Html.DisplayFor(model => model.IsDeleted)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
